{% extends "layout_admin.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">إحصائيات المنصة</h2>
<div class="row g-4">

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-sm p-3 text-center stat-card bg-primary text-white">
            <h5>عدد البنوك</h5>
            <h2>{{ banks|length }}</h2>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-sm p-3 text-center stat-card bg-success text-white">
            <h5>عدد شركات التثمين</h5>
            <h2>{{ companies|length }}</h2>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-sm p-3 text-center stat-card bg-warning text-white">
            <h5>عدد العملاء</h5>
            <h2>{{ clients|length }}</h2>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-sm p-3 text-center stat-card bg-danger text-white">
            <h5>طلبات التثمين</h5>
            <h2>{{ requests|length }}</h2>
        </div>
    </div>

</div>
{% endblock %}
